@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, 
  'Apple Cplpr Emoji', 'Segoe UI Emoji', 'Segou UI Symbol', 'Noto Color Emoji';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(100.00% 0.000 89.9deg);
    --foreground: oklch(13.71% 0.036 258.5deg);
    --card: oklch(100.00% 0.000 89.9deg);
    --card-foreground: oklch(13.71% 0.036 258.5deg);
    --popover: oklch(8.467% 0.00001 271.152);
    --popover-foreground: oklch(13.71% 0.036 258.5deg);
    --primary: oklch(64.37% 0.216 16.8deg);
    --primary-foreground: oklch(98.38% 0.003 247.9deg);
    --secondary: oklch(96.50% 0.007 5.6deg);
    --secondary-foreground: oklch(64.37% 0.216 16.8deg);
    --muted: oklch(96.50% 0.007 5.6deg);
    --muted-foreground: oklch(37.52% 0.039 256.8deg);
    --accent: oklch(28.13% 0.047 9.9deg);
    --accent-foreground: oklch(64.37% 0.216 16.8deg);
    --destructive: oklch(60.74% 0.241 23.2deg);
    --destructive-foreground: oklch(98.38% 0.003 247.9deg);
    --border: oklch(91.21% 0.019 6.0deg);
    --input: oklch(91.21% 0.019 6.0deg);
    --ring: oklch(64.37% 0.216 16.8deg);
    --chart-1: oklch(67.72% 0.157 35.2deg);
    --chart-2: oklch(63.09% 0.101 183.5deg);
    --chart-3: oklch(37.87% 0.044 225.5deg);
    --chart-4: oklch(83.36% 0.119 88.1deg);
    --chart-5: oklch(78.34% 0.126 58.7deg);
  }

  .dark {
    --background: oklch(13.7% 0.036 258.5deg);
    --foreground: oklch(98.4% 0.003 247.9deg);
    --card: oklch(13.7% 0.036 258.5deg);
    --card-foreground: oklch(98.4% 0.003 247.9deg);
    --popover: oklch(13.7% 0.036 258.5deg);
    --popover-foreground: oklch(98.4% 0.003 247.9deg);
    --primary: oklch(64.4% 0.216 16.8deg);
    --primary-foreground: oklch(98.4% 0.003 247.9deg);
    --secondary: oklch(20.5% 0.030 6.7deg);
    --secondary-foreground: oklch(98.4% 0.003 247.9deg);
    --muted: oklch(20.5% 0.030 6.7deg);
    --muted-foreground: oklch(68.3% 0.067 259.5deg);
    --accent: oklch(27.2% 0.048 7.9deg);
    --accent-foreground: oklch(98.4% 0.003 247.9deg);
    --destructive: oklch(47.4% 0.186 20.5deg);
    --destructive-foreground: oklch(98.4% 0.003 247.9deg);
    --border: oklch(20.5% 0.030 6.7deg);
    --input: oklch(20.5% 0.030 6.7deg);
    --ring: oklch(64.4% 0.216 16.8deg);
    --chart-1: oklch(51.8% 0.188 278.7deg);
    --chart-2: oklch(45.6% 0.122 180.0deg);
    --chart-3: oklch(63.4% 0.169 68.1deg);
    --chart-4: oklch(64.9% 0.232 308.9deg);
    --chart-5: oklch(56.9% 0.190 12.8deg);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  h1 {
    @apply text-4xl md:text-6xl xl:text-7xl font-bold;
  }
  h2 {
    @apply text-xl lg:text-3xl font-medium;
  }
  h3 {
    @apply text-2xl lg:text-4xl font-medium;
  }
  a {
    @apply hover:cursor-pointer;
  }

  button {
    @apply hover:cursor-pointer bg-rose-600 hover:bg-rose-700;
  }

  @keyframes gradient-x {
    0%,
    100% {
      background-size: 200% 100%;
      background-position: left center;
    }
    50% {
      background-size: 200% 100%;
      background-position: right center;
    }
  }

  .animate-gradient-x {
    animation: gradient-x 3s ease infinite;
  }

}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}